.box{
    min-height: 42px;
    gap: 8px;
    align-items: center;
}
.polygon{
    clip-path: polygon(50% 0, 100% 20%, 100% 80%, 50% 100%, 0 80%, 0 20%);
    //background-color: var(--secondary-bg);
    width: 36px;
    height: 42px;
    .material-icons{
        //color: whitesmoke;
        font-size: 24px;
    }
}

.info{
    gap: 4px;
    .title{
        color: var(--secondary-txt);
         font-size: 12px;
         font-weight: 500;
    }
    .value{
        color: var(--primary-txt);
        font-weight: 500;
        font-size: 18px;
    }
    .unit{
        color: var(--secondary-txt);
        font-size: 12px;
        margin-left: 8px;
    }
}

@media (max-width: 768px) {
    .info{
        gap: 4px;
        .title{
            color: var(--secondary-txt);
             font-size: 10px;
             font-weight: 500;
        }
        .value{
            color: var(--primary-txt);
            font-weight: 500;
            font-size: 16px;
        }
        .unit{
            color: var(--secondary-txt);
            font-size: 10px;
            margin-left: 8px;
        }
    }
}