.container-fluid{
    padding-right: 0px;
    padding-left: 0px;
    position: absolute;
    width: 100%;
    height: 200px;
    font-family:'Krona+One', sans-serif;
}

#group-ftd1{
    left: 10px;
    top: 8px;
    position: absolute;
    width: 146px;
}

#group-ftd2{

    left: 10px;
    top: 185px;
    position: absolute;
    width: 146px;
}


#group-ftd3{
    position: absolute;
    width: 42px;
    left: 1px;
    top: 94px;
    z-index: 2;
}

#group-ftd4{
    position: absolute;
    width: 42px;
    left: 43px;
    top: 94px;
    z-index: 2;


}


#speed-engine{
    position: absolute;
    width: 40px;
    left: 67%;
    top: 21px;
}

#speed-prop{
    position: absolute;
    width: 35px;
    left: 69%;
    top: 163px;
}

#load-prop{
    position: absolute;
    width: 35px;
    left: 55%;
    top: 163px;
}
    

.ftd1{
	position: relative;
	width: 48px;
	height: 100%;
    float: left;
    text-align: center;
}

.ftd1-name{
    font-size: 11px;
}

.ftd1-value{
    font-size: 11px;
    color: cornflowerblue;
    line-height: 1.5;
    font-weight: bold;
}

.ftd1-unit{
    font-size: 11px;
    line-height: 1;
}


#fuel-use{
    height: 110px;
    width: 117px;
    border: 5px solid #FF9900;
    border-left: none;
    top: 64px;
    left: 5px;
    position: absolute;
    z-index: 0;
}

#fuel-supply-title{
    height: 37px;
    width: 122px;
    top: 54px;
    left: 0px;
    position: absolute;
    z-index: 1;
}

#fuel-return-title{
    height: 23px;
    width: 56px;
    top: 154px;
    left: 30px;
    position: absolute;
    z-index: 1;
}

#engine{
    height: 41px;
    width: 50px;
    top: 99px;
    left: 90px;
    position: absolute;
    border: 2px solid #999999;
    border-radius: 6px;
    z-index: 1;
    background-color: floralwhite;
    text-align: center;
    line-height: 2.8;
    font-size: 13px;
}

#gear{
    height: 41px;
    width: 50px;
    top: 99px;
    left: 68%;
    position: absolute;
    border: 2px solid #999999;
    border-radius: 6px;
    z-index: 1;
    background-color: floralwhite;
    text-align: center;
    line-height: 2.8;
    font-size: 13px;
}

#line-engine-shaft{
    height: 5px;
    width: calc(92% - 102px);
    background-color: #0000FF;
    top: 117px;
    left: 120px;
    z-index: 0;
    position: absolute;
}

#enging-shaft-title{
    height: 20px;
    width: 15%;
    top: 124px;
    left: 53%;
    position: absolute;
    z-index: 1;
    font-size: 10px;
}

#prop-shaft-title{
    height: 20px;
    width: 13%;
    top: 81px;
    left: 88%;
    position: absolute;
    z-index: 1;
    font-size: 10px;
}

#line1{
    height: 61px;
    width: 17px;
    top: 53px;
    left: 62%;
    position: absolute;
    z-index: 1;
    border: 1px solid black;
    border-style: dotted;
    border-right: none;
    border-bottom: none;
}


#line2{
    height: 61px;
    width: 13px;
    top: 124px;
    left: 87%;
    position: absolute;
    z-index: 1;
    border: 1px solid black;
    border-style: dotted;
    border-left: none;
    border-top: none;
}

@media screen and (max-width:992px){
    .ftd1{
        width: 47px;
    }

    #group-ftd1{
        width: 141px;
    }

    #group-ftd2{
        width: 141px;
    }
}