.container{
    max-height: 100% !important;
}
.chart-container {
    height: 100%;
    box-sizing: border-box;
}
.icon-container{
    position: absolute;
    top: 1%;
    right: 0.5%;
    z-index: 100;
}
.chart {
    max-height: 100%;
    height: 100%;
    min-height: 50px;
    background-color: #f8f8f800;
    //border: 2px solid red;
    //padding: 2px;
}

.material-icons {
    font-size: 25px;
}
:host ::ng-deep {
    .chart-container {
        position: relative;
        z-index: 1 !important;
    }
    
    .highcharts-container {
        z-index: 1 !important;
    }
}