
body {

    --mdc-filled-text-field-container-color: #272B31;
    --mat-datepicker-calendar-body-label-text-color: var(--primary-txt);
    --mat-datepicker-calendar-period-button-icon-color: var(--primary-txt);
    --mat-datepicker-calendar-navigation-button-icon-color: var(--primary-txt);
    --mat-datepicker-calendar-header-divider-color: var(--primary-txt);
    --mat-datepicker-calendar-header-text-color: var(--primary-txt);
    --mat-datepicker-calendar-date-today-outline-color: var(--primary-txt);
    --mat-datepicker-calendar-date-today-disabled-state-outline-color: rgba(0, 0, 0, 0.18);
    --mat-datepicker-calendar-date-text-color: var(--secondary-txt);
    --mat-datepicker-calendar-date-outline-color: transparent;
    --mat-datepicker-calendar-date-disabled-state-text-color: var(--secondary-txt);
    --mat-datepicker-calendar-date-preview-state-outline-color: rgba(0, 0, 0, 0.24);
    --mat-datepicker-range-input-separator-color: rgba(0, 0, 0, 0.87);
    --mat-datepicker-range-input-disabled-state-separator-color: rgba(0, 0, 0, 0.38);
    --mat-datepicker-range-input-disabled-state-text-color: var(--secondary-txt);
    --mat-datepicker-calendar-container-background-color: var(--primary-bg);
    --mat-datepicker-calendar-container-text-color: var(--secondary-txt);
    --mat-datepicker-toggle-icon-color: var(--primary-txt);
    --mat-optgroup-label-text-color: rgba(255, 0, 0, 0.87);
    --mdc-filled-text-field-caret-color: #673ab7;
    --mdc-filled-text-field-focus-active-indicator-color: #2e333900;
    --mdc-filled-text-field-focus-label-text-color: var(--primary-txt);
    //--mdc-filled-text-field-container-color: whitesmoke;
    --mdc-filled-text-field-disabled-container-color: var(--primary-txt);
    --mdc-filled-text-field-label-text-color: var(--primary-txt);
    --mdc-filled-text-field-disabled-label-text-color: var(--secondary-txt);
    --mdc-filled-text-field-input-text-color: var(--primary-txt);
    --mdc-filled-text-field-disabled-input-text-color: var(--secondary-txt);
    --mdc-filled-text-field-input-text-placeholder-color: rgba(0, 0, 0, 0.6);
    --mdc-filled-text-field-active-indicator-color: rgba(0, 0, 0, 0.42);
    --mdc-filled-text-field-disabled-active-indicator-color: rgba(0, 0, 0, 0.06);
    --mdc-filled-text-field-hover-active-indicator-color: rgba(0, 0, 0, 0.1);
    --mdc-outlined-text-field-caret-color: #b75d3a;
    --mdc-outlined-text-field-focus-outline-color: #b73a3a;
    --mdc-outlined-text-field-focus-label-text-color: rgba(103, 58, 183, 0.87);
    --mdc-outlined-text-field-label-text-color: rgba(0, 0, 0, 0.6);
    --mdc-outlined-text-field-disabled-label-text-color: var(--secondary-txt);
    --mdc-outlined-text-field-input-text-color: rgba(0, 0, 0, 0.87);
    --mdc-outlined-text-field-disabled-input-text-color: var(--secondary-txt);
    --mdc-outlined-text-field-input-text-placeholder-color: rgba(0, 0, 0, 0.6);
    --mdc-outlined-text-field-outline-color: var(--secondary-txt);
    --mdc-outlined-text-field-disabled-outline-color: rgba(0, 0, 0, 0.06);
    --mdc-outlined-text-field-hover-outline-color: rgba(255, 0, 0, 0.87);
    --mat-form-field-disabled-input-text-placeholder-color: var(--secondary-txt);
    --mdc-filled-text-field-container-shape: 4px;
    --mat-form-field-container-height: 56px;
    //--mat-form-field-filled-with-label-container-padding-top: 24px 
    //--mat-form-field-filled-with-label-container-padding-bottom: 8px;
    --mdc-filled-text-field-label-text-size: 15px;
    --mat-select-trigger-text-size: 14px;
    .mat-mdc-form-field-focus-overlay{
        height: 56px;
    }
    
    --mat-select-panel-background-color: var(--primary-bg);
    --mat-select-enabled-trigger-text-color: var(--primary-txt);
    --mat-select-disabled-trigger-text-color: var(--primary-txt);
    --mat-select-placeholder-text-color: var(--primary-txt);
    --mat-select-enabled-arrow-color: var(--primary-txt);
    --mat-select-disabled-arrow-color: var(--primary-txt);
    --mat-select-focused-arrow-color: var(--primary-txt);
    --mat-option-selected-state-label-text-color: var(--primary-txt);
    --mat-option-label-text-color: var(--primary-txt);
    --mdc-filled-text-field-label-text-weight: 200;
    --mat-select-trigger-text-weight: 200;
    --mdc-filled-text-field-active-indicator-color: var(--primary-bg);
}

#major{
    fill: crimson !important;
}

#minor{
    fill: tomato !important;
}

#warnning{
    fill: darkgoldenrod !important;
}

#normal{
    fill: #00C300 !important;
}

#unknow{
    fill: #000000 !important;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background: var(--card-bg) !important;
  color: var(--primary-txt);
  border: 1px solid var(--border-color) !important;
  padding: 0;
}

::-webkit-scrollbar-thumb {
    background: var(--border-color) !important;
    border-radius: 100vw;
}

::-webkit-scrollbar-track {
    background: var(--secondary-bg-50) !important;
    border-radius: 100vh;
    margin-block: .5em;
}

::-webkit-scrollbar {
    height: 6px;
    width: 4px;
}