#map {
  background: var(--map-bg);
}

.leaflet-container {
  background: var(--map-bg);
}

/* popup */
.leaflet-popup-tip {
  background: var(--card-bg);
}

.custom-marker-wrapper {
  width: 20px;
  height: 20px;
}

.marker-dot {
  width: 12px;
  height: 12px;
  background: var(--map-active);
  border-radius: 50%;
  box-shadow: 0 0 10px var(--map-active);
}