.container{
    background-color: var(--card-bg);
    padding: 12px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    box-shadow: 0 3px 12px 0 rgba(20,31,47,0.1), 0 1px 2px 0 rgba(20,31,47,0.12);
    .topic{
        display: flex;
        align-items: center;
        border-left: 4px solid var(--highlight);
        border-left-width: 3px;
        padding: 0px 10px;
        span{
            color: var(--primary-txt);
            font-weight: 500;
            font-size: 14px;
        }
    }
}

@media only screen and (max-width: 500px) {
    .container{
         width: 100%;
         max-width: calc(100vw - 16px);
    }
}

@media only screen and (min-width: 3839px) {
    .container{
        padding: 24px !important;
        border: 3px solid var(--border-color);
        border-radius: 4px;
       
        .topic{
            border-left: 32px solid var(--highlight) !important;
            border-left-width: 8px !important;
            span{
                font-size: 1.6rem !important;
            }
        }
    }
}

@media only screen and (min-width: 2559px) { 
    .container{
        padding: 16px;
        border: 2px solid var(--border-color);
        border-radius: 4px;
       
        .topic{
            span{
                font-size: 1rem;
            }
        }
    }
}