<div class="container-fluid">
  <!-- Engine 1 Fuel Supply -->
  <div id="group-ftd1">
    <div class="ftd1">
      <div class="ftd1-name">Flow</div>
      <div class="ftd1-value" [attr.title]="getTooltip(flow_supply)">
        {{ displayNumber(flow_supply, 2) }}
      </div>
      <div class="ftd1-unit">L/h</div>
    </div>

    <div class="ftd1">
      <div class="ftd1-name">Temp.</div>
      <div class="ftd1-value" [attr.title]="getTooltip(temp_supply)">
        {{ displayTempSupply || displayNumber(temp_supply, 2) }}
      </div>
      <div class="ftd1-unit">°C</div>
    </div>

    <div class="ftd1">
      <div class="ftd1-name">Dens.</div>
      <div class="ftd1-value" [attr.title]="getTooltip(dens_supply)">
        {{ displayNumber(dens_supply, 2) }}
      </div>
      <div class="ftd1-unit">kg/m3</div>
    </div>
  </div>

  <!-- Engine 2 Fuel Supply -->
  <div id="group2-ftd1">
    <div class="ftd1">
      <div class="ftd1-name">Flow</div>
      <div class="ftd1-value" [attr.title]="getTooltip(flow_supply)">
        {{ displayNumber(flow_supply, 2) }}
      </div>
      <div class="ftd1-unit">L/h</div>
    </div>

    <div class="ftd1">
      <div class="ftd1-name">Temp.</div>
      <div class="ftd1-value" [attr.title]="getTooltip(temp_supply)">
        {{ displayTempSupply || displayNumber(temp_supply, 2) }}
      </div>
      <div class="ftd1-unit">°C</div>
    </div>

    <div class="ftd1">
      <div class="ftd1-name">Dens.</div>
      <div class="ftd1-value" [attr.title]="getTooltip(dens_supply)">
        {{ displayNumber(dens_supply, 2) }}
      </div>
      <div class="ftd1-unit">kg/m3</div>
    </div>
  </div>

  <!-- Engine 1 Fuel Return -->
  <div id="group-ftd2">
    <div class="ftd1">
      <div class="ftd1-name">Flow</div>
      <div class="ftd1-value" [attr.title]="getTooltip(flow_return)">
        {{ displayNumber(flow_return, 2) }}
      </div>
      <div class="ftd1-unit">L/h</div>
    </div>

    <div class="ftd1">
      <div class="ftd1-name">Temp.</div>
      <div class="ftd1-value" [attr.title]="getTooltip(temp_return)">
        {{ displayTempReturn || displayNumber(temp_return, 2) }}
      </div>
      <div class="ftd1-unit">°C</div>
    </div>

    <div class="ftd1">
      <div class="ftd1-name">Dens.</div>
      <div class="ftd1-value" [attr.title]="getTooltip(dens_return)">
        {{ displayNumber(dens_return, 2) }}
      </div>
      <div class="ftd1-unit">kg/m3</div>
    </div>
  </div>

  <!-- Engine 2 Fuel Return -->
  <div id="group2-ftd2">
    <div class="ftd1">
      <div class="ftd1-name">Flow</div>
      <div class="ftd1-value" [attr.title]="getTooltip(flow_return)">
        {{ displayNumber(flow_return, 2) }}
      </div>
      <div class="ftd1-unit">L/h</div>
    </div>

    <div class="ftd1">
      <div class="ftd1-name">Temp.</div>
      <div class="ftd1-value" [attr.title]="getTooltip(temp_return)">
        {{ displayTempReturn || displayNumber(temp_return, 2) }}
      </div>
      <div class="ftd1-unit">°C</div>
    </div>

    <div class="ftd1">
      <div class="ftd1-name">Dens.</div>
      <div class="ftd1-value" [attr.title]="getTooltip(dens_return)">
        {{ displayNumber(dens_return, 2) }}
      </div>
      <div class="ftd1-unit">kg/m3</div>
    </div>
  </div>

  <!-- Engine 1 Consumption Rate -->
  <div id="group-ftd3">
    <div class="ftd1">
      <div class="ftd1-name">Cons.</div>
      <div class="ftd1-value" [attr.title]="getTooltip(cons)">
        {{ displayAbsNumber(cons, 2) }}
      </div>
      <div class="ftd1-unit">L/h</div>
    </div>
  </div>

  <!-- Engine 2 Consumption Rate -->
  <div id="group2-ftd3">
    <div class="ftd1">
      <div class="ftd1-name">Cons.</div>
      <div class="ftd1-value" [attr.title]="getTooltip(cons)">
        {{ displayAbsNumber(cons, 2) }}
      </div>
      <div class="ftd1-unit">L/h</div>
    </div>
  </div>

  <!-- Engine 1 Consumption Today -->
  <div id="group-ftd4">
    <div class="ftd1">
      <div class="ftd1-name">Cons.</div>
      <div class="ftd1-value" [attr.title]="getTooltip(consL)">
        {{ displayNumber(consL, 2) }}
      </div>
      <div class="ftd1-unit">L</div>
    </div>
  </div>

  <!-- Engine 2 Consumption Today -->
  <div id="group2-ftd4">
    <div class="ftd1">
      <div class="ftd1-name">Cons.</div>
      <div class="ftd1-value" [attr.title]="getTooltip(consL)">
        {{ displayNumber(consL, 2) }}
      </div>
      <div class="ftd1-unit">L</div>
    </div>
  </div>

  <!-- Engine 1 Fuel Diagram -->
  <div id="fuel-use"></div>

  <div id="fuel-supply-title">
    <div style="text-align: center; line-height: 1.5">
      <i
        class="fa fa-caret-right"
        aria-hidden="true"
        style="line-height: 0.1; font-size: 18px"
      ></i>
    </div>
    <div style="font-size: 10px; line-height: 0.1; text-align: center">
      Fuel Supply
    </div>
  </div>

  <div id="fuel-return-title">
    <div style="font-size: 10px; line-height: 0.6">Fuel Return</div>
    <div style="text-align: center; line-height: 1.5">
      <i
        class="fa fa-caret-left"
        aria-hidden="true"
        style="line-height: 0.1; font-size: 18px"
      ></i>
    </div>
  </div>

  <!-- Engine 2 Fuel Diagram -->
  <div id="fuel2-use"></div>

  <div id="fuel2-supply-title">
    <div style="text-align: center; line-height: 1.5">
      <i
        class="fa fa-caret-right"
        aria-hidden="true"
        style="line-height: 0.1; font-size: 18px"
      ></i>
    </div>
    <div style="font-size: 10px; line-height: 0.1; text-align: center">
      Fuel Supply
    </div>
  </div>

  <div id="fuel2-return-title">
    <div style="font-size: 10px; line-height: 0.6">Fuel Return</div>
    <div style="text-align: center; line-height: 1.5">
      <i
        class="fa fa-caret-left"
        aria-hidden="true"
        style="line-height: 0.1; font-size: 18px"
      ></i>
    </div>
  </div>

  <!-- Diagram Labels -->
  <div id="engine">Engine</div>
  <div id="engine2">Engine</div>
  <div id="gear">Gear</div>

  <div id="line-engine-shaft"></div>
  <div id="line-2engine-shaft"></div>

  <div id="enging-shaft-title">Engine Shaft</div>
  <div id="prop-shaft-title">Prop. Shaft</div>

  <div id="line11"></div>
  <div id="line2"></div>

  <!-- Engine Speed -->
  <div id="speed-engine">
    <div class="ftd1">
      <div class="ftd1-name">Speed</div>
      <div class="ftd1-value" [attr.title]="getTooltip(speed_eng)">
        {{ displayNumber(speed_eng, 2) }}
      </div>
      <div class="ftd1-unit">RPM</div>
    </div>
  </div>

  <!-- Gear / Prop Speed -->
  <div id="speed-prop">
    <div class="ftd1">
      <div class="ftd1-name">Speed</div>
      <div class="ftd1-value" [attr.title]="getTooltip(speed_gear)">
        {{ displayNumber(speed_gear, 2) }}
      </div>
      <div class="ftd1-unit">RPM</div>
    </div>
  </div>

  <!-- Load -->
  <div id="load-prop" *ngIf="hasLoad">
    <div class="ftd1">
      <div class="ftd1-name">Load</div>
      <div class="ftd1-value" [attr.title]="getTooltip(load)">
        {{ displayNumber(load, 2) }}
      </div>
      <div class="ftd1-unit">%</div>
    </div>
  </div>
</div>