<div class="container period brd w-100 h-100">
  <!-- <label *ngIf="type === 'date'">
    <span class="title w-100" *ngIf="title">{{ title || 'DATE' }}</span>

    <input
      class="input bz"
      [(ngModel)]="setDate"
      [owlDateTimeTrigger]="dt1"
      [owlDateTime]="dt1"
      (ngModelChange)="SelectDay($event)"
      [placeholder]="placeholder"
    />

    <owl-date-time
      #dt1
      [pickerType]="pickerType"
      [startView]="startView"
    ></owl-date-time>
  </label>
  <label *ngIf="type === 'month'">
    <span class="title w-100" *ngIf="title">{{ title || 'DATE' }}</span>
    <div class="box"></div>
    <input
      class="input month bz"
      [(ngModel)]="setDate"
      [owlDateTimeTrigger]="monthPicker"
      [owlDateTime]="monthPicker"
      [placeholder]="placeholder"
    />

    <owl-date-time
      #monthPicker
      pickerType="calendar"
      [startView]="monthView"
      [yearOnly]="true"
      (monthSelected)="onMonthSelected($event, monthPicker)"
    ></owl-date-time>
  </label>
  <label *ngIf="type === 'year'">
    <span class="title w-100" *ngIf="title">{{ title || 'DATE' }}</span>
    <div class="box1"></div>
    <input
      class="input year bz"
      [(ngModel)]="setDate"
      [owlDateTimeTrigger]="yearPicker"
      [owlDateTime]="yearPicker"
      [placeholder]="placeholder"
    />

    <owl-date-time
      #yearPicker
      pickerType="calendar"
      [startView]="yearView"
      [multiyearOnly]="true"
      (yearSelected)="onYearSelected($event, yearPicker)"
    ></owl-date-time>
  </label> -->
</div>


