<div class="sidenav-container bz" [ngClass]="{ 'sidenav-hided' : isHided }">
    @if (!isHided) {
        <div class="sidenav bz ">
            <div class="logo w-100 d-flex-ct ">
                <img [src]="logoUrl()" class="img" alt="" height="42px" (click)="show()">
            </div>
            <div class="btn-group d-col-sb bz">
                <div mat-list-item routerLink="/main/overview" routerLinkActive="active" class="btn-box bz" (click)="changeNavState('zone', zoneList().title)">
                    <div class="bz">
                        <i class="material-icons">
                            grid_view
                        </i>
                    </div>
                    <div class="bz title">OVERVIEW</div>
                </div>
                <!-- <div mat-list-item routerLink="/main/performance" routerLinkActive="active" class="btn-box bz" (click)="changeNavState('zone', zoneList().title)">
                    <div class="bz">
                        <i class="material-icons">
                            speed
                        </i>
                    </div>
                    <div class="bz title">PERFORMANCE</div>
                </div> -->
                <div mat-list-item routerLink="/main/trend" routerLinkActive="active" class="btn-box bz" (click)="changeNavState('zone', zoneList().title)">
                    <div class="bz">
                        <i class="material-icons">
                            signal_cellular_alt
                        </i>
                    </div>
                    <div class="bz title">TRENDS </div>
                </div>
                <div mat-list-item routerLink="/main/billing/viewer" routerLinkActive="active" class="btn-box bz" (click)="changeNavState('zone', zoneList().title)">
                    <div class="bz">
                        <i class="material-icons">
                            receipt
                        </i>
                    </div>
                    <div class="bz title">BILLINGS</div>
                </div>
                <div mat-list-item routerLink="/main/events" routerLinkActive="active" class="btn-box bz" (click)="changeNavState('zone', zoneList().title)">
                    <div class="bz">
                        <i class="material-icons">
                            notifications
                        </i>
                    </div>
                    <div class="bz title">EVENTS</div>
                </div>
                <!-- <div mat-list-item routerLink="/main/maintenance" routerLinkActive="active" class="btn-box bz" (click)="changeNavState('zone', zoneList().title)">
                    <div class="bz">
                        <i class="material-icons">
                            engineering
                        </i>
                    </div>
                    <div class="bz title">MAINTENANCE</div>
                </div> -->
                <div mat-list-item routerLink="/main/admin" routerLinkActive="active" class="btn-box logout bz" (click)="logOut()">
                    <div class="bz">
                        <i class="material-icons">
                            logout
                        </i>
                    </div>
                </div>
            </div>
            <div class="sidenav-search d-col bz">
                <div class="search-topic w-100">
                    <div>Plant List</div>
                </div>
                <div class="search-box input-group w-100 ">
                    <input [(ngModel)]="seachText" required="" type="text" name="text" autocomplete="off" class="input bz w-100">
                    <label class="user-label">SEARCH</label>
                </div>
                <div class="w-100 d-col-ed bz card-list" style="padding: 8px;">
                    @for (item of zoneList().siteList | filtersite : seachText; track $index) {
                        <div class="w-100 card bz" 
                                [ngClass]="{ 'card-active': changeBgColor(item.id), 'card-disabled': !item.enabled }"
                                (click)="changeNavState('site', item.id, item.enabled)" 
                                [id]="item.id">
                            @if (item.enabled) {
                                 <i class="material-icons">factory</i>
                            } @else {
                                <i class="material-icons" >domain_disabled</i>
                            }
                            <div class="title">{{ item.id + ' : ' + item.name | uppercase}}</div>
                            <i class="material-icons event-icon" [ngClass]="getPlantStatus(item.id)">notifications_active</i>
                        </div>
                    }
                </div>
                <div class="dropdown-wrapper">
                    <select class="site-selector" (change)="onSiteChange($event)">
                        <option>NONE</option>
                        @for (item of zoneList().siteList | filtersite : seachText; track $index) {
                            <option
                                    [value]="item.id"
                                    [selected]="changeBgColor(item.id)">
                                {{ item.id + ' : ' + item.name | uppercase }}
                            </option>
                        }
                    </select>
                </div>
            </div>
            <div class="copy">
                © Authorize reserved by SAT Solutions
            </div>
        </div>
    }
    <div class="content bz" >
        <div >
            <div class="topnav d-flex-sb w-100">
                <div class="d-flex title"> 
                     <div style="background-color: var(--logo-bg); padding: 4px 8px; border-radius: 4px;" class="d-flex-ct bz">
                        <img src="assets/images/client.png" class="img" alt="" height="32px">
                    </div>
                     <div>BOON RAWD CENTRAL <br> PV INFORMATION SYSTEM</div>
                </div>
                <div class="d-flex" style="gap: 16px;">
                    <div class="user-logo d-flex-ct" style="margin-right: 24px;" (click)="changTheme()">
                        @if (mode() === 'dark') {
                            <i class="material-icons">nightlight</i>
                        } @else {
                            <i class="material-icons">light_mode</i>
                        }
                    </div>
                    <div class="d-col-ed h-100">
                        <div class="n-pm user">{{ user | uppercase}}</div>
                        <div class="n-pm role">{{ role | lowercase}}</div>
                    </div>
                    <div class="user-logo-wrapper">
                        <div class="user-logo d-flex-ct n-pm">
                            <i class="material-icons">person</i>
                        </div>
                        <div class="user-tooltip">
                            <button class="tooltip-btn d-flex-ct" (click)="openSettings()">
                            <i class="material-icons">settings</i>
                            SETTINGS
                            </button>
                            <button class="tooltip-btn d-flex-ct" (click)="openProfile()">
                            <i class="material-icons">manage_accounts</i>
                            PROFILE
                            </button>
                            <button class="tooltip-btn d-flex-ct" (click)="logOut()">
                            <i class="material-icons">logout</i>
                            LOGOUT
                            </button>
                        </div>
                    </div>
                </div>
                <div class="pin d-flex-ct" (click)="toggleNavBarState()">
                    @if (isHided) {
                        <i class="material-icons icon">keyboard_double_arrow_right</i>
                    } @else {
                        <i class="material-icons icon">keyboard_double_arrow_left</i>
                    }
                </div>
            </div>
            @switch ((navState$ | async)?.name) {
                @case ('site') {
                    <head class="content-header hide1 d-flex-sb w-100 bz" >
                        <div class="d-flex h-100 w-100 bz">
                            <a class="nav-link" [ngClass]="{ 'hide-page': !checkPageAvailable('layout') }" routerLink="/main/layout" routerLinkActive="active">
                                <i class="material-icons">solar_power</i>
                                <div>OVERVIEW</div>
                            </a>
                            <a class="nav-link" [ngClass]="{ 'hide-page': !checkPageAvailable('dashboard') }" routerLink="/main/dashboard" routerLinkActive="active">
                                <i class="material-icons">dashboard</i>
                                <div>DASHBOARD</div>
                            </a>
                            <!-- <a class="nav-link" routerLink="/main/dashboard" routerLinkActive="active">DASHBOARD2</a> -->
                            <a class="nav-link" [ngClass]="{ 'hide-page': !checkPageAvailable('efficiency') }" routerLink="/main/efficiency" routerLinkActive="active">
                                <i class="material-icons">speed</i>
                                <div>PERFORMANCE</div>
                            </a>
                            <!-- <a class="nav-link" routerLink="/main/performance" routerLinkActive="active">PERFORMANCE</a> -->
                            <a class="nav-link" [ngClass]="{ 'hide-page': !checkPageAvailable('realtime') }" routerLink="/main/realtime" routerLinkActive="active">
                                <i class="material-icons">construction</i>
                                <div>REALTIME</div>
                            </a>
                            <a class="nav-link" [ngClass]="{ 'hide-page': !checkPageAvailable('diagram') }" routerLink="/main/diagram" routerLinkActive="active">
                                <i class="material-icons">account_tree</i>
                                <div>DIAGRAM</div>
                            </a>
                            <a class="nav-link" [ngClass]="{ 'hide-page': !checkPageAvailable('control') }" routerLink="/main/control" routerLinkActive="active">
                                <i class="material-icons">tune</i>
                                <div>CONTROL</div>
                            </a>
                            <a class="nav-link" [ngClass]="{ 'hide-page': !checkPageAvailable('charts') }" routerLink="/main/charts" routerLinkActive="active">
                                <i class="material-icons">area_chart</i>
                                <div>CHARTS</div>
                            </a>
                            <a class="nav-link" [ngClass]="{ 'hide-page': !checkPageAvailable('event') }" routerLink="/main/event" routerLinkActive="active">
                                <i class="material-icons">notifications_active</i>
                                <div>EVENTS</div>
                            </a>
                            <a class="nav-link" [ngClass]="{ 'hide-page': !checkPageAvailable('report') }" routerLink="/main/report" routerLinkActive="active">
                                <i class="material-icons">description</i>
                                <div>REPORTS</div>
                            </a>
                        </div>
                        @if (enableDate()) {
                            <div class="date-picker hide h-100 bz">
                                <app-date-picker [initdate]="date" (selectDate)="onDateSelect($event)" [type]="'day'" [scale]="0.75"></app-date-picker>
                            </div>
                        } 
                        <!-- <div class="ai-btn hide" (click)="openDialog()">
                            <i class="material-icons">auto_awesome</i>
                            <div>Ask SolarisAI</div>
                        </div> -->
                    </head>
                }
                @case ('zone') {
                    <head class="content-header hide d-flex-sb w-100" >
                        <div class="d-flex h-100 w-100 bz">
                            <a class="nav-link" [ngClass]="{ 'hide-page': !checkPageAvailable('overview') }" routerLink="/main/overview" routerLinkActive="active">OVERVIEW</a>
                            <a class="nav-link" [ngClass]="{ 'hide-page': !checkPageAvailable('performance') }" routerLink="/main/performance" routerLinkActive="active">PERFORMANCE</a>
                            <a class="nav-link" [ngClass]="{ 'hide-page': !checkPageAvailable('trend') }" routerLink="/main/trend" routerLinkActive="active">TRENDS</a>
                            <a class="nav-link" [ngClass]="{ 'hide-page': !checkPageAvailable('tabular') }" routerLink="/main/tabular" routerLinkActive="active">TABULAR</a>
                            <a class="nav-link" [ngClass]="{ 'hide-page': !checkPageAvailable('reports') }" routerLink="/main/reports" routerLinkActive="active">REPORTS</a>
                            <a class="nav-link" [ngClass]="{ 'hide-page': !checkPageAvailable('report-admin') }" routerLink="/main/report-admin" routerLinkActive="active">REPORT ADMIN</a>
                            <a class="nav-link" [ngClass]="{ 'hide-page': !checkPageAvailable('billing') }" routerLink="/main/billing/viewer" routerLinkActive="active">BILLINGS</a>
                            <a class="nav-link" [ngClass]="{ 'hide-page': !checkPageAvailable('admin') }" routerLink="/main/admin" routerLinkActive="active">BILLING ADMIN</a>
                            <a class="nav-link" [ngClass]="{ 'hide-page': !checkPageAvailable('events') }" routerLink="/main/events" routerLinkActive="active">EVENTS</a>
                            <a class="nav-link" [ngClass]="{ 'hide-page': !checkPageAvailable('maintenance') }" routerLink="/main/maintenance" routerLinkActive="active">MAINTENANCE</a>
                        </div>
                        @if (enableDate()) {
                            <div class="date-picker hide h-100 bz">
                                <app-date-picker [initdate]="date" (selectDate)="onDateSelect($event)" [type]="'day'" [scale]="0.75"></app-date-picker>
                            </div>
                        }
                        <!-- <div class="ai-btn hide" (click)="openDialog()">
                            <i class="material-icons">auto_awesome</i>
                            <div>Ask SolarisAI</div>
                        </div> -->
                    </head>
                }
            }
        </div>
        <div class="content-box bz no-pm w-100">
            <router-outlet></router-outlet>
        </div>
    </div>
    <p-toast position="bottom-right" />
</div>

@if (showProfileDialog()) {
    <app-profile-dialog (onClose)="closeProfile()" />
}
