.container{
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    background-color: var(--card-bg);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    max-width: 100%;
    overflow: hidden;
}

.material-icons{
    cursor: pointer !important;
}

.period-container{
    padding: 16px 12px;
    max-width: 100%;
    overflow-x: hidden;
    height: 70px;
    .period-box{
        position: relative;
        padding: 12px;
        column-gap: 4px;
        align-items: center;
        border-radius: 4px;
    }
    .period-box:hover{
        outline: 1px solid var(--active-txt);
    }
    .material-icons{
        font-size: 16px;
        color: var(--primary-txt);
    }
    .period{
        display: flex;
        height: 20px;
        justify-content: space-between;
        position: relative !important;
        align-items: center;
        .material-icons{
            font-size: 16px;
            color: var(--primary-txt);
            margin-right: 8px;
        }
       label{
        padding: 0 !important;
        margin: 0 !important;
       }
       .input{
            width: 100% !important;
            border: none;
            text-align: center;
       }
       input:focus{
            outline: none;
       }
       input:active{
            outline: none;
       }
    }
    .date-left{
        position: absolute;
        left: -24px;
    }
    .date-rigth{
        position: absolute;
        right: -24px;
    }
    .line{
        width: auto;
        font-size: 24px;
        color: var(--primary-txt);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}


.row-grid{
    display: grid;
    grid-template-areas: 
    'group group'
    'eqmnt param';
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: auto  minmax(400px, 1fr);
    height: calc(94vh - 150px);
    overflow-y: hidden;
}

.group-box{
    grid-area: group;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 8px 16px;
    background-color: var(--primary-bg);
    cursor: pointer;
    .group-item{
        font-size: 13px;
        color: var(--primary-txt);
        line-height: 1.75;
        padding-right: 20px;
    }
    
}

.eqmnt-box{
    grid-area: eqmnt;
    overflow-y: auto;
    border: 1px solid var(--border-color);
    border-left-width: 0px;
    border-collapse: collapse;
    .alias{
        padding: 4px 0px 0px 12px;
        
    }
    .group{
        padding: 4px 12px;
        background-color: var(--primary-bg);
        border: 0.1px solid var(--secondary-bg-50);
        color: var(--primary-txt);
        .material-icons{
            color: var(--primary-txt);
        }
    }
    .item-box:hover{
        background-color: var(--primary-bg-50);
        filter: brightness(150%);
    }
}

.param-box{
    grid-area: param;
    overflow-y: auto;
    border: 1px solid var(--border-color);
    border-right-width: 0px;
    border-collapse: collapse;
    //border-right: none;
    position: relative;
    .clear-item{
        position: absolute;
        right: 4px;
        top: 4px;
        .material-icons{
            color: var(--primary-bg);
            font-size: 10px;
            background-color: var(--active-txt);
            border-radius: 50%;
            padding: 2px;
        }
    }
    .ref-box{
        position: relative;
        .clear-item{
            position: absolute;
            right: 4px;
            top: 36px;
            .material-icons{
                color: var(--primary-bg);
                font-size: 10px;
                background-color: var(--active-txt);
                border-radius: 50%;
                padding: 2px;
            }
        }
    }
    
    .alias{
        padding: 4px 0px 0px 12px;
    }
    .group{
        padding: 4px 12px;
        background-color: var(--primary-bg);
        border: 0.1px solid var(--secondary-bg-50);
        color: var(--primary-txt);
        .material-icons{
            color: var(--primary-txt);
        }
    }
    .item-box:hover{
        background-color: var(--primary-bg-50);
        filter: brightness(150%);
    }
}

.button-box{
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    padding: 0px 16px 0px;
    column-gap: 16px;
    height: 80px;
    //border: 1px solid #2C2F35;
    button{
        height: 40px;
    }
    .submit{
        border: 1px solid var(--btn-border);
        background-color: var(--btn-bg);
        color: var(--btn-color);
        border-radius: 4px;
    }
    .clear{
        background-color: var(--primary-bg);
        color: var(--secondary-txt);
        border-radius: 4px;
        border: none;
    }
    .submit:hover{
        filter: brightness(125%);
    }
    .clear:hover{
        filter: brightness(125%);
    }
}

.hide{
    display: none;
}

.active{
    color: var(--active-txt) !important;
}

.label{
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    color: var(--secondary-txt);
}

.active-label{
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    color: var(--primary-txt);
}

.containers input {
    display: none;
}

.containers {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.checkmark {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 0.8em;
    width: 0.8em;
    background-color: var(--secondary-bg);
    transition: all 0.25s;
}
.containers input:checked ~ .checkmark {
    background-color: var(--active-txt);
}
.checkmark::before {
content: "";
    position: absolute;
    transform: rotate(0deg);
    border: 0.1em solid var(--secondary-bg);
    left: 0;
    top: 0;
    width: 0.6em;
    height: 0.6em;
    transition: all 0.25s, border-width 0.1s;
}
.containers input:checked ~ .checkmark::before {
    left: 0.25em;
    top: 0.15em;
    width: 0.2em;
    height: 0.4em;
    border-color: var(--primary-bg);
    border-width: 0 0.15em 0.15em 0;
    border-radius: 0em;
    transform: rotate(45deg);
}

@media only screen and (min-width: 3839px) {

    .label{
        font-size: 20px !important;
    }

    .period-container{
        padding: 28px 24px !important; 
        height: 120px !important;
        .period-box{
            padding:12px 16px;
            border-radius: 4px;
        }
        .period{
            height: 36px;
            .input{
                font-size: 24px !important;
            }
            .material-icons{
                font-size: 18px;
                color: #bcd;
                margin-right: 4px;
                //display: block !important;
            }
        }
        .line{
            width: auto;
            font-size: 24px !important;
            color: #bcd;
        }
    }
    
    
    .row-grid{
        height: calc(95vh - 250px) !important;
    }
    
    .group-box{
        grid-area: group;
        display: flex;
        flex-wrap: wrap;
        padding: 16px !important;
        background-color: #2b2f35;
        .group-item{
            font-size: 20px !important;
            color: rgb(153, 170, 187);
            line-height: 1.75;
            padding-right: 20px;
        }
        
    }
    
    .eqmnt-box{
        grid-area: eqmnt;
        //padding: 8px 0px 8px 12px;
        overflow-y: scroll;
        height: 75vh;
        border: 1px solid #2C2F35;
        border-collapse: collapse;
        //border-right: none;
        .alias{
            padding: 12px 0px 0px 16px !important;
            
        }
        .group{
            padding: 16px !important;
            background-color: #2b2f35;
            border: 0.1px solid #4f545915;
            .material-icons{
                color: #bcd;
            }
        }
        .item-box:hover{
            background-color: #11b4963f;
            filter: brightness(125%);
        }
    }
    
    .param-box{
        grid-area: param;
        //padding: 8px 0px 12px 0px;
        overflow-y: scroll;
        height: 75vh;
        border: 1px solid #2C2F35;
        border-collapse: collapse;
        //border-right: none;
        position: relative;
        .clear-item{
            position: absolute;
            right: 4px;
            top: 4px;
            .material-icons{
                color: #2F363E;
                font-size: 18px !important;
                background-color: #10FDD3;
                border-radius: 50%;
                padding: 2px;
            }
        }
        .ref-box{
            position: relative;
            .clear-item{
                position: absolute;
                right: 4px;
                top: 36px;
                .material-icons{
                    color: #2F363E;
                    font-size: 18px !important;
                    background-color: #10FDD3;
                    border-radius: 50%;
                    padding: 2px;
                }
            }
        }
        
        .alias{
            padding: 8px 0px 0px 16px !important;
        }
        .group{
            padding: 8px 16px !important;
            background-color: #2b2f35;
            border: 0.1px solid #4f545915;
            .material-icons{
                color: #bcd;
            }
        }
        .item-box:hover{
            background-color: #11b4963f;
            filter: brightness(125%);
        }
    }
    
    .button-box{
        display: grid;
        grid-template-columns: 3fr 1fr;
        align-items: center;
        padding: 0px 24px 0px;
        column-gap: 16px;
        height: 150px !important;
        border: 1px solid #2C2F35;
        button{
            height: 80px !important;
            font-size: 24px !important;
        }
        .submit{
            border: 1px solid var(--btn-border);
            background-color: var(--btn-bg);
            color: var(--btn-color);
            border-radius: 4px;
        }
        .clear{
            background-color: var(--primary-bg);
            color: var(--secondary-txt);
            border-radius: 4px;
            border: none;
        }
        .submit:hover{
            filter: brightness(125%);
        }
        .clear:hover{
            filter: brightness(125%);
        }
    }
}

@media only screen and (min-width: 2559px) {

    .label{
        font-size: 14px;
    }

    .period-container{
        padding: 20px 16px;
        height: 100px;
        .period-box{
            padding:12px 16px;
            border-radius: 4px;
        }
        .period{
            height: 30px;
            .input{
                font-size: 18px;
            }
            .material-icons{
                font-size: 18px;
                color: #bcd;
                margin-right: 4px;
                display: none;
            }
        }
        .line{
            width: auto;
            font-size: 18px;
            color: #bcd;
        }
    }
    
    
    .row-grid{
        height: calc(95vh - 200px);
    }
    
    .group-box{
        grid-area: group;
        display: flex;
        flex-wrap: wrap;
        padding: 8px 16px;
        background-color: #2b2f35;
        .group-item{
            font-size: 16px;
            color: rgb(153, 170, 187);
            line-height: 1.75;
            padding-right: 20px;
        }
        
    }
    
    .eqmnt-box{
        grid-area: eqmnt;
        //padding: 8px 0px 8px 12px;
        overflow-y: scroll;
        height: 75vh;
        border: 1px solid #2C2F35;
        border-collapse: collapse;
        //border-right: none;
        .alias{
            padding: 4px 0px 0px 12px;
            
        }
        .group{
            padding: 4px 12px;
            background-color: #2b2f35;
            border: 0.1px solid #4f545915;
            .material-icons{
                color: #bcd;
            }
        }
        .item-box:hover{
            background-color: #11b4963f;
            filter: brightness(125%);
        }
    }
    
    .param-box{
        grid-area: param;
        //padding: 8px 0px 12px 0px;
        overflow-y: scroll;
        height: 75vh;
        border: 1px solid #2C2F35;
        border-collapse: collapse;
        //border-right: none;
        position: relative;
        .clear-item{
            position: absolute;
            right: 4px;
            top: 4px;
            .material-icons{
                color: #2F363E;
                font-size: 14px;
                background-color: #10FDD3;
                border-radius: 50%;
                padding: 2px;
            }
        }
        .ref-box{
            position: relative;
            .clear-item{
                position: absolute;
                right: 4px;
                top: 36px;
                .material-icons{
                    color: #2F363E;
                    font-size: 14px;
                    background-color: #10FDD3;
                    border-radius: 50%;
                    padding: 2px;
                }
            }
        }
        
        .alias{
            padding: 4px 0px 0px 12px;
        }
        .group{
            padding: 4px 12px;
            background-color: #2b2f35;
            border: 0.1px solid #4f545915;
            .material-icons{
                color: #bcd;
            }
        }
        .item-box:hover{
            background-color: #11b4963f;
            filter: brightness(125%);
        }
    }
    
    .button-box{
        display: grid;
        grid-template-columns: 3fr 1fr;
        align-items: center;
        padding: 0px 16px 0px;
        column-gap: 16px;
        height: 100px;
        border: 1px solid #2C2F35;
        button{
            height: 60px;
        }
        .submit{
            border: 1px solid var(--btn-border);
            background-color: var(--btn-bg);
            color: var(--btn-color);
            border-radius: 4px;
        }
        .clear{
            background-color: var(--primary-bg);
            color: var(--secondary-txt);
            border-radius: 4px;
            border: none;
        }
        .submit:hover{
            filter: brightness(125%);
        }
        .clear:hover{
            filter: brightness(125%);
        }
    }
}

@media only screen and (max-width: 1024px) {
    
    .row-grid{
        display: grid;
        grid-template-areas: 
        'group group'
        'eqmnt param';
        grid-template-columns: 1fr 1.5fr;
        grid-template-rows: auto  minmax(200px, 1fr);
        //background-color: #2F363E;
        height: calc(94vh - 100px);
        overflow-y: hidden;
    }

}

@media only screen and (max-width: 500px) {
    .container{
        overflow: hidden;
    }

    .row-grid{
        height: 300px;
        grid-auto-rows: repeat(auto-fit, minmax(300px, 1fr));
        .group-box{
            padding: 8px 16px;
            background-color: #2b2f35;
            .group-item{
                font-size: 12px;
                color: rgb(153, 170, 187);
                line-height: 1.5;
                padding-right: 20px;
            }
        }
        .eqmnt-box{
            max-height: 330px;
        }
        .param-box{
            max-height: 330px;
        }
    }
}