<div class="container w-100 h-100 bz">
    <div class="period-container bz w-100 d-flex">
        <div class="period-box bz w-100 d-flex-sb" >
            <div class="date-left bz" style="scale: 0.75; width: 200px;">
                <app-date-picker [initdate]="startDate" (selectDate)="onDateSelect($event, 'start')" [type]="'day'" [scale]="1"></app-date-picker>
            </div>
            <div class="line bz">
                -
            </div>
            <div class="date-rigth bz" style="scale: 0.75; width: 200px;">
                <app-date-picker [initdate]="endDate" (selectDate)="onDateSelect($event, 'end')" [type]="'day'" [scale]="1"></app-date-picker>
            </div>
        </div>
    </div>
    <div class="row-grid w-100 h-100 bz">
        <div class="group-box bz">
            @for (group of tagsGroup(); track $index; let idx = $index) {
                <span 
                    [ngClass]="group.status ? 'active bz group-item' : 'group-item bz'" 
                        class="group-item bz" (click)="selectGroup(idx)"
                >
                    {{group.name}}
                </span>
            }
        </div>
        <div class="eqmnt-box bz">
            @for (item of tagsGroup();; track $index) {
                <div class="w-100">
                    @for (eqp of item.equipments; track $index) {
                        <div [ngClass]="item.status ? 'w-100 bz' : 'hide bz'">
                            @if (!eqp.alias) {
                                <div class="w-100 alias bz">
                                    <div class="d-flex item-box" style="column-gap: 12px;">
                                        <label class="containers ">
                                            <input type="checkbox" [checked]="eqp.status" type="checkbox" [value]="false" required (change)="selectAllEquipment(eqp, item.name, $event)">
                                            <div class="checkmark"></div>
                                        </label>
                                        <div [ngClass]="eqp.status ? 'active-label bz' : 'label bz'" ><span>{{eqp.name}}</span></div>
                                    </div>
                                </div>
                            } @else {
                                <div class=" w-100">
                                    <div class="d-flex-sb group w-100 bz" (click)="showItems(eqp)">                            
                                        <div class="label bz"><span>{{eqp.name}}</span></div>
                                        <div class="d-flex-ct">
                                            @if (eqp.status) {
                                                <i class="material-icons " >
                                                    arrow_drop_up
                                                </i>
                                            } @else { 
                                                <i class="material-icons " >
                                                    arrow_drop_down
                                                </i>
                                            }
                                        </div>                   
                                    </div>
                                    @for (i of eqp.alias; track $index) {
                                        <div  [ngClass]="eqp.status ? 'w-100 bz alias bz' : 'hide bz'" >
                                            <div class="d-flex item-box" style="column-gap: 12px;">
                                                <label class="containers ">
                                                    <input type="checkbox" [checked]="i.status" type="checkbox" [value]="false" required (change)="selectEquipment(i, eqp.name, item.name ,$event)">
                                                    <div class="checkmark"></div>
                                                </label>
                                                <div [ngClass]="i.status ? 'active-label bz' : 'label bz'" ><span>{{i.name}}</span></div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    }
                </div>
            }
        </div>
        <div class="param-box bz">
            @for (item of tagsGroup(); track $index) {
                <div class="w-100 bz " >
                    @for (eqp of item.parameters; track $index) {
                        <div [ngClass]="item.status ? 'w-100 bz' : 'hide bz'" >
                            @if (!eqp.alias) {
                               <div class="w-100 alias bz">
                                    <div class="d-flex item-box" style="column-gap: 12px;">
                                        <label class="containers ">
                                            <input type="checkbox" [checked]="eqp.status" type="checkbox" [value]="false" required (change)="selectParameter(eqp, '', item.name, $event)">
                                            <div class="checkmark"></div>
                                        </label>
                                        <div [ngClass]="eqp.status ? 'active-label bz' : 'label bz'" ><span>{{eqp.name}}</span></div>
                                    </div>
                                </div>
                            } @else { 
                                <div class="ref-box w-100">
                                    <div class="d-flex-sb group w-100 bz bz" (click)="showItems(eqp)">                            
                                        <div class="label bz"><span>{{eqp.name}}</span></div>
                                        <div class="d-flex-ct" >
                                            @if (eqp.status) {
                                                <i class="material-icons " >
                                                    arrow_drop_up
                                                </i>
                                            } @else {
                                                <i class="material-icons " >
                                                    arrow_drop_down
                                                </i>
                                            }
                                        </div>                   
                                    </div>
                                    @for (i of eqp.alias; track $index) {
                                        <div  [ngClass]="eqp.status ? 'w-100 bz alias bz' : 'hide bz'" >
                                            <div class="d-flex item-box" style="column-gap: 12px;">
                                                <label class="containers ">
                                                    <input type="checkbox" [checked]="i.status" type="checkbox" [value]="false" required (change)="selectParameter(i, eqp.name, item.name, $event)">
                                                    <div class="checkmark"></div>
                                                </label>
                                                <div [ngClass]="i.status ? 'active-label bz' : 'label bz'" ><span>{{i.name}}</span></div>
                                            </div>
                                        </div>
                                    }
                                    @if (ckeckGroupParamStatus(eqp.alias) && item.status) {
                                        <div class="clear-item bz" (click)="clearGroupParamStatus(eqp.alias)">
                                            <i class="material-icons ">
                                                close
                                            </i>
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    }
                    @if (ckeckParamStatus(item.name) && item.status) {
                        <div class="clear-item bz" (click)="clearParamStatus(item.name)">
                            <i class="material-icons ">
                                close
                            </i>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
    <div class="button-box w-100 bz h-100">
        @if (!btnLoadingState()) {
            <button  class="submit bz" (click)="sunmitTags()">UPDATE</button>
        } @else {
            <button  class="submit bz" >LOADING...</button>
        }
        <button class="clear bz" (click)="clearTagsStatus()">CLEAR</button>
    </div>
</div>
