<div class="main">
  <div id="fullscreen_bg" class="fullscreen_bg"></div>

  <div class="grid-header">
    <app-header></app-header>
  </div>

  <div
    class="grid-sidenav"
    id="sidebar"
    role="navigation"
    *ngIf="showSidebar"
    app-sidebar
    [vessels]="vessels"
    [activeVessel]="selectedVessel"
    (selectedVessel)="onSelectVessel($event)"
  ></div>

  <div class="grid-content" [class.is-overview]="isOverviewRoute" [@routeAnimation]="getDepth(myOutlet)">
    <router-outlet #myOutlet="outlet"></router-outlet>
  </div>
</div>
