<div class="chart-container w-100 h-100 bz">
    <div class="d-flex-sb time-container w-100 bz">
        <div class="icon-content d-flex">
           @if (loadingImg()) {
            <div class="icon-box d-flex-ct">
                <i class="material-icons spinner" style="font-size: 16px;" >refresh</i>
            </div>
           } @else {
            <i class="material-icons" style="font-size: 16px;" (click)="captureChart()">camera_alt</i>
           }

           @if (loadingData()) {
            <div class="icon-box d-flex-ct">
                <i class="material-icons spinner" style="font-size: 16px; margin-left: 8px;" >refresh</i>
            </div>
           } @else {
             <i class="material-icons" style="font-size: 16px; margin-left: 8px;" (click)="exportAllToExcel()">save</i>
           }
        </div>
        <div class="time-content">
            <div class="datepicker bz">
                @switch (mode()) {
                    @case ('d') {
                        <app-date-picker [initdate]="date" (selectDate)="onDateSelect($event)" [type]="'day'" [scale]="0.7"></app-date-picker>
                    }
                    @case ('w') {
                        <app-date-picker [initdate]="date" (selectDate)="onDateSelect($event)" [type]="'day'" [scale]="0.7"></app-date-picker>
                    }
                    @case ('m') {
                        <app-date-picker [initdate]="date" (selectDate)="onDateSelect($event)" [type]="'month'" [scale]="0.7"></app-date-picker>
                    }
                    @case ('y') {
                        <app-date-picker [initdate]="date" (selectDate)="onDateSelect($event)" [type]="'year'" [scale]="0.7"></app-date-picker>
                    }
                }
            </div>
            @if (!fixedMode()) {
                <div class="time-box d-flex bz" style="border-radius: 4px;">
                    <div class="time" [class.active]="mode() === 'd'" (click)="setTimeRange('d')">&bull; DAY</div>
                    <div class="time" [class.active]="mode() === 'w'" (click)="setTimeRange('w')">&bull; WEEK</div>
                    <div class="time" [class.active]="mode() === 'm'" (click)="setTimeRange('m')">&bull; MONTH</div>
                    <div class="time" [class.active]="mode() === 'y'" (click)="setTimeRange('y')">&bull; YEAR</div>
                </div>
            }
        </div>
    </div>
    <div [id]="name()" class="chart w-100 bz">
      @if(isLoading() === name()){
        <app-skeleton-box></app-skeleton-box>
      } @else if(chartItems()) {
        <app-highchart [chartParameter]="chartItems()"></app-highchart>
      }
    </div>
</div>
