<div class="fv-table-container">
    <table class="fv-table">
        <thead>
            <tr>
                <th>VESSEL</th>
                <th>STATUS</th>
                <th>SPEED <br><span class="fv-th-unit">(knots)</span></th>
                <th>FUEL (L)</th>
                <th>LOCATION</th>
                <th>LAST SEEN</th>
            </tr>
        </thead>

        <tbody [@listAnimation]="data.length">

            <tr *ngFor="let a of data" (click)="onRowClick(a)" [class.fv-row-active]="selectedVessel?.id === a?.id">

                <td class="fv-vessel-cell">
                    <div class="fv-img-placeholder"><i class="fa fa-ship"></i></div>
                    <div>
                        <div class="fv-v-name">{{ a.name }}</div>
                        <div class="fv-v-type">{{ a.type }}</div>
                    </div>
                </td>

                <td>
                    <span class="fv-badge" [class.fv-badge-success]="a.status === 'Online'"
                        [class.fv-badge-warning]="a.status !== 'Online'">
                        {{ a.status }}
                    </span>
                </td>

                <td class="fv-font-semibold">{{ a.speed }}</td>
                <td>{{ a.fuel }}</td>
                <td class="fv-loc-cell">
                    <div>{{ a.location }}</div>
                </td>
                <td class="fv-text-muted">
                    <i class="fa fa-clock-o" style="margin-right: 4px;"></i>
                    {{ a.lastSeen }}
                </td>
            </tr>

            <tr *ngFor="let b of blankData" class="fv-row-blank">
                <td class="fv-vessel-cell">
                    <div class="fv-img-placeholder fv-opaque"><i class="fa fa-ship"></i></div>
                    <div>
                        <div class="fv-v-name">&nbsp;</div>
                        <div class="fv-v-type">&nbsp;</div>
                    </div>
                </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>

        </tbody>
    </table>
</div>